<?xml version="1.0"?>
<launch>

  <!-- user args -->
  <arg name="dongle_port" default="/dev/ttyACM0"/>
  <arg name="port" default="/dev/ttyACM1"/>
  <arg name="baud" default= "57600"/>
  <!-- myo ros node -->
  <node pkg="ros_myo" name="myo_raw" type="myo-rawNode.py" args="$(arg dongle_port)" output="screen"/>
  <node pkg="ros_myo" name="Emgdata" type="Emgdata.py" args="$(arg dongle_port)" output="screen"/>
  <node pkg="rosserial_python" name="serial_node" type="serial_node.py" args="$(arg port)" output="screen"/>


</launch>
